{
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-vars": 2,
    "react/prop-types": 2,
    "no-return-assign": 0
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
